<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css' )}}">
    
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="card mt-5 mb-3 mx-auto" style="width: 500px;">
            <h1 class="text-center">New Ninja</h1>
            <div class="card-header">
                <div class="card-body">
                <form action="/create_new_ninja" method="POST">
                    <h6>Dojo Locations:</h6>
                    <select class="custom-select mb-3" id="inputGroupSelect01" name="dojo_id" class="form-select">
                    {% for dojo in dojos %}
                        <option class="form-control" value="{{dojo.id}}">{{dojo.name}}</option>
                    {% endfor %}
                    </select>
                    <div class="mb-3">
                        <label for="first_name" class="form-label">First Name: </label>
                        <input name="first_name" type="text" class="form-control" id="formGroupExampleInput" value="">
                    </div>
                    <div class="mb-3">
                        <label for="last_name" class="form-label">Last Name: </label>
                        <input name="last_name" type="text" class="form-control" id="formGroupExampleInput"  value="">
                    </div>
                    <div class="mb-3">
                        <label for="age" class="form-label">Age: </label>
                        <input name="age" type="text" class="form-control" id="formGroupExampleInput"  value="">
                    </div>
                    <input type="submit" value="new ninja" class="btn btn-primary">Create</a>
                    <a href="/dojos" type="submit" value="Home" class="btn btn-primary">Home</a>
                </form>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>